@import "compass";
@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "../assets/OwlCarousel/owl.carousel.min.css";

@font-face {
    font-family: GESS;
    src: url(../fonts/ge-ss-two-light.otf);
}
$white: #FFFFFF;
$black: #000000;
$red: #a12226;
$grey: #a0a0a0;
$grey2: #848484;

a, .btn {@include transition(0.2s);}
.btn {
    color: $white;
    font-size: 16px;
    padding: 8px 35px;
    background-color: $red;
    @include border-radius(25px);
    &:hover {
        color: $black;
        background-color: $grey;
    }
    &.rounded {
        color: $red;
        padding: 8px 15px;
        border: 2px solid $red;
        background-color: transparent;
        &:hover {
            color: $white;
            background-color: $red;
        }
    }
}
/********************************************/
body {
    direction: rtl;
    font-family: GESS;
}
header {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    @include transition(0.2s);
    padding-bottom: 5px;
    &.fixed {
        background-color: rgba($black, 0.8);
        .navbar-nav {border-bottom: 0;}
    }
    .top-nav {
        text-align: left;
        padding: 5px 0;
        ul {
            padding: 0;
            margin: 0;
            li {
                padding: 0;
                &+li {margin-right: 15px;}
            }
            a {
                font-weight: bold;
                display: inline-flex;
                padding: 5px;
                color: $grey;
                font-size: 18px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                &:hover {
                    svg path {fill: $red;}
                }
            }
        }
        @media (max-width: 768px) {
            text-align: center;
            border-bottom: 1px solid $grey;
            margin-bottom: 10px;
        }
    }
    .navbar-toggle {
        margin: 2px 0 0;
        margin-left: -10px;
        .icon-bar {
            width: 30px;
            height: 3px;
            background-color: $white;
            margin: 5px 0;
            @include transition(0.2s);
        }
        &:not(.collapsed) {
            .icon-bar:first-child {
                transform: rotate(-45deg) translate(-7px, 6px);
                -moz-transform: rotate(-45deg) translate(-7px, 6px);
                -webkit-transform: rotate(-45deg) translate(-7px, 6px);
            }
            .icon-bar:nth-child(2) {opacity: 0;}
            .icon-bar:last-child {
                transform: rotate(45deg) translate(-5px, -5px);
                -moz-transform: rotate(45deg) translate(-5px, -5px);
                -webkit-transform: rotate(45deg) translate(-5px, -5px);
            }
        }
    }
    .navbar {
        border: none;
        border-radius: 0;
        margin-bottom: 0;
    }
    .navbar-nav {
        padding: 0;
        > li {
            > a {
                color: $white;
                font-size: 15px;
                &:hover, &:focus {background-color: rgba($red, 0.7);}
            }
        }
    }
    .navbar-toggle {float: left;}
    .navbar-brand {
        float: right;
        height: auto;
        padding: 0;
    }
    .navbar-collapse {border: 0; box-shadow:none;}
    @media (min-width: 768px) {
        .navbar-header, .navbar-nav > li { float: right; }
        .navbar-collapse {padding: 0;}
        .navbar-nav {
            border-top: 1px solid rgba($white, 0.2);
            border-bottom: 1px solid rgba($white, 0.2);
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .navbar-header img {width: 170px;}
        .navbar-nav > li > a {font-size: 12px; padding: 10px;}
    }
    @media (max-width: 768px) {
        .navbar-collapse {
            background-color: rgba($black, 0.8);
            margin-top: 10px;
        }
    }
}
section.main-banner {
    min-height: calc(100vh / 2);
    padding: 160px 0 60px;
    background: url(../images/main-bg.jpg) no-repeat top center;
    background-size: cover;
    color: $white;
    .carousel-inner {
        .img-container {
            @include border-radius(10px);
            overflow: hidden;
            img {
                margin: auto;
            }
        }
    }
    .caption {
        h3 {
            font-size: 30px;
            margin: 15px 0;
            line-height: 50px;
            @media (max-width: 768px) {
                font-size: 25px;
                line-height: 35px;
            }
        }
        p {
            font-size: 16px;
            margin-bottom: 15px;
        }
        @media (max-width: 768px) {
            text-align: center;
        }
    }
    .carousel-indicators {
        position: static;
        width: 100%;
        margin: 50px 0 0;
        padding: 0;
        > li {
            margin: 0 5px;
            width: 10px;
            height: 10px;
            background-color: $white;
            @include border-radius(50%);
            position: relative;
            &:after {
                opacity: 0;
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 17px;
                height: 17px;
                border: 1px solid $white;
                @include border-radius(50%);
                @include transition(0.2s);
                transform: translate(-50%, -50%);
            }
            &.active:after {
                opacity: 1;
            }
        }
    }
}
section.services {
    .title {
        margin: 30px 0;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        h2 {
            margin: 0;
            font-size: 25px;
        }
        .sep {
            height: 1px;
            margin: 0 15px;
            overflow: hidden;
            background-color: $red;
            flex-grow: 1;
        }
    }
    .nav-tabs {
        padding: 0;
        border-width: 2px;
        text-align: center;
        > li {
            float: none;
            margin-bottom: -2px;
            display: inline-block;
            vertical-align: bottom;
            a {
                color: $grey2;
                font-size: 16px;
                border-width: 2px;
                padding: 25px 35px;
                border-radius: 8px 8px 0 0;
                span {
                    display: block;
                    &.img {
                        width: 108px;
                        height: 108px;
                        display: flex;
                        margin: 0 auto 20px;
                        background-color: $grey2;
                        @include border-radius(50%);
                        border: 6px solid rgba($white, 0.5);
                        img {
                            margin: auto;
                            max-width: 70%;
                        }
                    }
                }
            }
            &.active > a {
                color: $red;
                font-size: 18px;
                background-color: #f5f5f5;
                padding-bottom: 12px;
                border-width: 2px;
                span.img {
                    background-color: $red;
                    border-color: rgba($white, 0.3);
                    -webkit-box-shadow: 0px 0px 0px 10px rgba($red, 0.5);
                    -moz-box-shadow: 0px 0px 0px 10px rgba($red, 0.5);
                    box-shadow: 0px 0px 0px 10px rgba($red, 0.5);
                }
            }
            @media (max-width: 992px) {
                a {
                    padding: 10px 15px;
                    font-size: 14px;
                    span.img {display: none;}
                }
                &.active {
                    a {
                        font-size: 16px;
                        padding-bottom: 3px;
                    }
                }
            }
            @media (max-width: 600px) {
                a {
                    padding: 15px !important;
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    > span {margin: auto;}
                }
                &.active {
                    a {
                        border-bottom-color: $red;
                    }
                }
            }
        }
    }
    .tab-content {
        padding: 45px 0;
        background-color: #f5f5f5;
        .owl-carousel {
            .item {
                border: 2px solid rgba($grey2, 0.5);
                @include border-radius(10px);
                > div {
                    padding: 17px;
                    color: #231f20;
                    h3 {
                        margin: 0 0 20px;
                        font-size: 18px;
                        line-height: 25px;
                    }
                    p {
                        margin: 0;
                        font-size: 14px;
                    }
                }
                .item-footer {
                    background-color: #e7e7e7;
                    display: flex;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    -ms-flex-align: center;
                    align-items: center;
                    @include border-radius(0 0 6px 6px);
                    a {color: $red;}
                    .icons {
                        padding: 0;
                        margin: 0;
                        svg {display: block;}
                    }
                }
                &:hover {
                    border-color: $red;
                    .item-footer {
                        background-color: $red;
                        a {color: $white;}
                        .icons svg path {fill: $white;}
                    }
                }
            }
            .owl-nav > div {
                position: absolute;
                top: 50%;
                z-index: 1;
                width: 50px;
                height: 50px;
                margin: 0 30px;
                transform: translateY(-50%);
                &.owl-next {
                    left: 0;
                    margin-left: -80px;
                    background: url(../images/Left.png) no-repeat center;
                }
                &.owl-prev {
                    right: 0;
                    margin-right: -80px;
                    background: url(../images/Right.png) no-repeat center;
                }
                &.disabled {opacity: 0.5;}
            }
            .owl-dots {
                text-align: center;
                margin: 50px 0 0;
                > .owl-dot {
                    margin: 0 5px;
                    width: 10px;
                    height: 10px;
                    background-color: $red;
                    @include border-radius(50%);
                    position: relative;
                    display: inline-block;
                    &:after {
                        opacity: 0;
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 17px;
                        height: 17px;
                        border: 1px solid $red;
                        @include border-radius(50%);
                        @include transition(0.2s);
                        transform: translate(-50%, -50%);
                    }
                    &.active:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}